<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
    <!-- L'utilizzo della notazione con i riferimenti LOCALI (#serverInputName)
    ci permette di passare i dati direttamente all'interno del TEMPLATE e ai relativi metodi. -->
    <input type="text" class="form-control" #serverInputName>
    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <input type="text" class="form-control" #serverContentInput>
    <br>
    <button class="btn btn-primary" (click)="onAddServer(serverInputName)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverInputName)">Add Server Blueprint</button>
  </div>
</div>